body{
  margin:0;
  border:0;
  padding:0;
}

a {
  font-weight: bolder;
  text-decoration: none;
}
zs4-header{
  display:block;
  font-size: 125%;
  font-weight: bold;
  background-color: lightgreen;
  text-decoration: none;
}

zs4-brand{
  margin: 0.5em;
  display:inline-block;
  align-self:auto;
  font-weight: bolder;
}

zs4-user{
  margin: 0.5em;
  display:inline-block;
  align-self: auto;
}
zs4-o-user{
  background-color: green;
  cursor: pointer;
  align-self: auto;
}
zs4-o-user-r{
  margin: 0.5em;
  display:inline-block;
}
zs4-o-user-c{
  display: inline-block;
}
zs4-o-user-o{
  margin-left: 0.5em;
  margin-right: 0.5em;
  display:inline-block;
  cursor: pointer;
}
