body{
  margin:0;
  border:0;
  padding:0;
}

zs4-header{
  display:block;
  font-size: 150%;
  font-weight: bold;
  background-color: lightgreen;
  text-decoration: none;
}

zs4-brand,zs4-slogan{
  margin: 0.5em;
  display:inline-block;
  align-self:auto;
  font-weight: bolder;
}
img.zs4user{
  display:inline-block;
  vertical-align:middle;
  border-radius: 1em;
  height: 2em;
}
zs4-user{
  margin: 0.5em;
  display:inline-block;
  align-self: auto;
}
zs4-user-options{
  background-color: white;
  display:inline-block;
  //vertical-align:middle;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
zs4-error{
  background-color: red;
  color:black;
  display:none;
}
zs4-error.zs4error{
  display:block;
}

zs4-t-main{
  display:block;
}
zs4-t-main-h{
  border-radius:0.5em 0.5em 0px 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: lightgreen;
}
zs4-t-main-h.active{
  background-color: white;
}
zs4-t-main-p{
  margin: 1em;
}
zs4-t-main-th{
  display: block;
  background-color: lightgreen;
}
zs4-t-main-tp{
  display:block;
}
zs4-t-main-tl{
  font-weight: bold;
}
zs4-t-main-tx{
  padding-left: 0.3em;
  font-size:0.8em;
  vertical-align: text-top;
  visibility: hidden;
  font-weight: bold;
}
zs4-t-main-tx:hover{
  color: red;
}
zs4-t-main-h.active zs4-t-main-tx{
  visibility: visible;
  cursor: pointer;
}
