.icon-toonsmith:before{content:'\0266B';font-weight: bolder;}

.icon-audio:before{content:'\01F509';font-weight: bolder;}
.icon-bar:before{content:'\023D0';font-weight: bolder;}
.icon-bars:before{content:'\023D0';font-weight: bolder;}
.icon-bass:before{content:url(/gfx/icons/bass.svg);}
.icon-beat:before{content:'\0237F';font-weight: bolder;}
.icon-beats:before{content:'\0237F';font-weight: bolder;}
.icon-bpb:before{content:'\0215E';font-weight: bolder;}
.icon-bpm:before{content:'\023F1';font-weight: bolder;}
.icon-chord:before{content:url(/gfx/icons/chord.svg);}
.icon-event:before{content:url(/gfx/icons/detail.svg);}
.icon-guitar:before{content:url(/gfx/icons/guitar.svg);}
.icon-instruments:before{content:url(/gfx/icons/instruments.svg);}
.icon-keyboard:before{content:url(/gfx/icons/piano.svg);}
.icon-lyric:before{content:url(/gfx/icons/text.svg);}
.icon-mandolin:before{content:url(/gfx/icons/mandolin.svg);}
.icon-midi:before{content:'\0266C';font-weight: bolder;}
.icon-note:before{content:url(/gfx/icons/note.svg);}
.icon-tpb:before{content:url(/gfx/icons/tick.svg);}
.icon-transpose:before{content:'\021C5';font-weight: bolder;}
.icon-ukulele:before{content:url(/gfx/icons/ukulele.svg);}
.icon-violin:before{content:url(/gfx/icons/violin.svg);}

td.string,tr.string {
  height:0.5em;
  width:1.5em;
}

ts-block-chart.tsbar {
  border-left: .1em solid lightgray;
}
ts-block-chart.tsbeat {
  border-left: .05em dashed lightgray;
}
ts-block-melody {
  font-size: .5em;
  color: grey;
}
ts-count-events,ts-count-chords,ts-count-bars,ts-count-beat,ts-count-notes{
  font-size: .5em;
}
ts-event.tscurrent {
  background-color: yellow;
}
ts-event-chord-delete{
  color: red;
}

ts-guitar-note{
  height:0.5em;
  width:1.5em;
}

ts-tool-window{
  background-color: lightgray;
  display: block;
}
ts-statusbar{
  background-color: lightgray;
}

ts-titlebar{
  background-color: lightgray;
}
