body{
  margin:0;
  border:0;
  padding:0;
}

a {
  font-weight: bolder;
  text-decoration: none;
}
zs4-header{
  display:inline-block;
  background-color: lightgreen;
  text-decoration: none;
}

zs4-brand{
  display:inline-block;
}

zs4-user{
  display:inline-block;
}

zs4-user-name{
  font-size: 150%;
}

zs4-connect{
  display:inline-block;
  text-align:right;
  font-size: 150%;
  width:20%;
  align-items: center;
}
zs4-connect:hover{
  color:red;
}

img.zs4-logo{
  height:3em;
  align-self: center;
}

img.zs4-user{
  height:3em;
  align-self: center;
}
