@import url("fontello/css/zs4-icons.css");
:root{
  margin:0;
  border:0;
  padding:0;
  color:black;
  background-color: white;
}

.zs4-container{
  display:block;
}

option.zs4-placeholder {
  font-style: italic;
  color:gray;
}
body{
  padding:0;
  margin:0;
}
input[type="checkbox"]{
  width:1em;
  height:1em;
}
input{
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-color: darkgray;
  margin-left: 0.5em;
}
input.zs4-noset{
  border-color:white;
}
textarea{
  height: 4em;
  width:100%;
}

zs4-name{
  vertical-align: top;
}
zs4-name.zs4-top{
  color:white;
  display:inline;
  vertical-align: 30%;
}
zs4-name.zs4-api{
  cursor:pointer;
  font-weight: bold;
}


zs4-error.zs4-top{
  font-size: 50%;
  display:inline-block;
  vertical-align: top;
}
zs4-result.zs4-top{
  font-size: 50%;
  display:inline-block;
  vertical-align: top;
}

zs4-object-head.zs4-top{
  color:white;
  background-color: blue;
  font-weight: bold;
  font-size: 2em;
  display:block;
  width:100%;
  top:0px;
  position:fixed;
  z-index: 100;
}

zs4-object-content{
  padding-left: 0.5em;
  width:100%;
  background: linear-gradient(to right, lightblue , white);
  background-size: 0.5em 100%;
  background-repeat: no-repeat;
  border-left: 0.1em solid blue;
  padding-left:0.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  display:block;
}
zs4-object-content.zs4-tboff,
zs4-object-content.zs4-on.zs4-tboff{
  display:block;
}
zs4-object-content.zs4-off{
  display:none;
}

zs4-object-content.zs4-top{
  width:100%;
  margin-top:2em;
}
zs4-object-content.zs4-top.zs4-tbon{
  display:none;
}

zs4-toolbar{
  background-color: white;
}
zs4-toolbar.zs4-off,
zs4-toolbar.zs4-tboff{
  display:none;
}
zs4-toolbar.zs4-on{
  display:inline-block;
}
zs4-toolbar.zs4-tbon.zs4-on{
  display:block;
  padding-left: 0.5em;
  width:100%;
  background: linear-gradient(to right, lightblue , white);
  background-size: 0.5em 100%;
  background-repeat: no-repeat;
  border-left: 0.1em solid blue;
  padding-left:0.5em;
}
zs4-toolbar.zs4-tboff.zs4-on{
  display:inline-block;
}
zs4-toolbar.zs4-off{
  display:none;
}

zs4-toolbar-header{
  background-color:white;
}

zs4-toolbar-content{
  display:block;
  background-color: white;
}
zs4-toolbar-content.zs4-tboff{
  display:none;
}

zs4-toolbar-toggle-off.zs4-tbon,
zs4-toolbar-toggle-off.zs4-off,
zs4-toolbar-toggle-off.zs4-off.zs4-tboff,
zs4-toolbar-toggle-off.zs4-off.zs4-tbon{
  display:none;
}

zs4-toolbar-tool{display:block}

zs4-tool-tab{
  padding-left:0.25em;
  padding-right:0.25em;
  cursor:pointer;
  color:darkgray;
}
zs4-tool-tab.zs4-active{
  color:black;
  background-color:lightgray;
}

zs4-tool-pane.zs4-show{
  width:100%;
  display:block;
  background-color:lightgray;
  color:black;
}
zs4-tool-pane.zs4-hide{display:none}

zs4-about-item{
  display:block;
}
zs4-about-label{
  display:inline;

}
zs4-about-value{
  display:inline;
  font-style: italic;
}

zs4-auth-table{
  display:block;
}
zs4-auth-item{
  display:block;
}

zs4-select-remove{
  display:inline-block;
  width:0.8em;
  height:0.8em;
  cursor:pointer;
  background-image: url('/minus.png');
  background-size:100% 100%;
  border:initial;
}

zs4-select-ui{
  display:block;
  background-color: lightgray;
}

.zs4-am, .zs4-am.zs4-own {
  color:blue;
}
.zs4-own {
  color:green;
}
.zs4-am.zs4-top, .zs4-own.zs4-top, .zs4-am.zs4-own.zs4-top {
  color:white;
}

.zs4-nodisplay{
  display:none;
}
zs4-error{
  color:red;
  display:inline;
}
zs4-error.zs4-hide{
  display:none;
}

zs4-result{
  color:green;
  display:inline;
}
zs4-result.zs4-hide{
  display:none;
}

zs4-object-head.zs4-notop{
  width:100%;
  padding-right:0.5em;
  background: initial;
  background-size: initial;
  background-repeat: initial;
}
zs4-object-head.zs4-notop.zs4-off{
  width:100%;
  background: initial;
  background-size: initial;
  background-repeat: initial;
}

zs4-object-head.zs4-notop.zs4-on{
  width:100%;
  background: initial;
  background-size: initial;
  background-repeat: initial;
}




.zs4-noset,.zs4-notrans{
  color:grey;
}
