:root{
  margin:0;
  border:0;
  padding:0;
  color:black;
  background-color: white;
}

.zs4-container{
  display:block;
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  display:inline-block;
  font-size:0.5em;
  vertical-align:0.25em;
  cursor:pointer;
  border-radius:1em;
  opacity: 30%;
  width:1em;
  height:1em;
  padding:0.25em;
  -webkit-transition: color 1s, opacity 1s, border-radius 1s; /* For Safari 3.1 to 6.0 */
  transition: color 1s, opacity 1s, border-radius;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  opacity: 100%;
  color:lightgreen;
}

[class^="icon-"].zs4-top:hover, [class*=" icon-"].zs4-top:hover {
  opacity: 100%;
  color:orange;
}

option.zs4-placeholder {
  font-style: italic;
  color:gray;
}
html,
zs4-scope,
zs4-object{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  color:black;
  background-color: white;
}
input[type="checkbox"]{
  width:1em;
  height:1em;
}
input{
  width:6em;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-color: darkgray;
  margin-left: 0.5em;
}
input[type="number"]{
  width:3em;
  height:1em;
}
input.zs4-noset{
  border-color:white;
  width:auto;
}
textarea{
  height: auto;
  width:100%;
}
a{
  text-decoration: none;
}

zs4-name{
  font-size: enherit;
  padding-right: 0.2em;
}
zs4-name.zs4-api{
  cursor:pointer;
  font-weight: bold;
}
zs4-name.zs4-top{
  color:lightblue;
}
zs4-name.zs4-am.zs4-noset:not{
  color:blue;
}
zs4-name.zs4-own.zs4-noset:not{
  color:darkgreen;
}

.zs4-noset,.zs4-notrans{
  color:grey;
}
.zs4-nodisplay{
  display:none;
}


.icon-cancel{color:red;}
.icon-error{background-color: white;}

.icon-none:before{content:" ";font-weight: bolder;background-color: rgba(128,128,128,0.0);}

.icon-equals:before{content:"=";font-weight: bolder;}

.icon-selectall:before{content:"&";font-weight: bolder;}
.icon-selectany:before{content:"|";font-weight: bolder;}
.icon-selectnone:before{content:"!";font-weight: bolder;}
.icon-selectitem:before{content:"$";font-weight: bolder;}

.icon-about:before{content:"i";font-weight: bolder;}
.icon-add:before{content:"+";font-weight: bolder;}
.icon-array:before{content:'\02630';font-weight: bolder;}
.icon-ascend:before{content:'\0219F';font-weight: bolder;}
.icon-auth:before{content:"a";font-weight: bolder;}
.icon-bye:before{content:'(>';font-weight: bolder;}
.icon-console:before{content:">_";font-weight: bolder;}
.icon-delete:before{content:"x";font-weight: bolder; color:red;}
.icon-descend:before{content:'\021A1';font-weight: bolder;}
.icon-doctype:before{content:'\0265E';font-weight: bolder;}
.icon-document:before{content:'\02683';font-weight: bolder;}
.icon-download:before{content:'\021A1';;font-weight: bolder;color:blue;}
.icon-folder:before{content:'\025D5';font-weight: bolder;}
.icon-error:before{content:"!!";font-weight: bolder;color:black;background-color: red;}
.icon-file:before{content:'f';;font-weight: bolder;color:blue;}
.icon-head:before{content:'+';;font-weight: bolder;color:blue;}
.icon-hi:before{content:'>)';font-weight: bolder;}
.icon-info:before{content:"i";font-weight: bolder;}
.icon-minus:before{content:"-";font-weight: bolder;}
.icon-object:before{content:"+";font-weight: bolder;}
.icon-play:before{content:'\025B6';font-weight: bolder;}
.icon-plus:before{content:"+";font-weight: bolder;}
.icon-reload:before{content:'\01f503';font-weight: bolder;}
.icon-required:before{content:"*";font-weight: bolder;}
.icon-save:before{content:'\01f4be';font-weight: bolder;}
.icon-scope:before{content:'\025EF';font-weight: bolder;}
.icon-search:before{content:'?';font-weight: bolder;}
.icon-select:before{content:'\02611';font-weight: bolder;}
.icon-spin:before{content:'\029B0';font-weight: bolder;}
.icon-stop:before{content:'\025A0';font-weight: bolder;color:red;}
.icon-to-start:before{content:'\025C4';;font-weight: bolder;}
.icon-tool:before{content:'\02692 ';font-weight: bolder;}
.icon-true:before{content:'\02611';font-weight: bolder;}
.icon-type:before{content:'+';font-weight: bolder;}
.icon-upload:before{content:'\0219F';;font-weight: bolder;color:blue;}
.icon-user:before{content:'\0263B';font-weight: bolder;}
.icon-zs4:before{content:'\025C8';font-weight: bolder;}

.icon-logo:before{
  content:"zs4";
  font-weight: bolder;
  font-size:0.6em;
  padding-right:0.5em;
  color:black;
  background-color: lightblue;
  border-radius:0.5em;
}
.icon-to-start:before{
  content:'\025C4';
  font-weight: bolder;
  font-size:0.6em;
  padding-right:0.5em;
  color:black;
  background-color: lightblue;
  border-radius:0.5em;
}

zs4-error{
  color:red;
  display:inline;
}
zs4-error.zs4-hide{
  display:none;
}
zs4-error.zs4-top{
  font-size: 50%;
  vertical-align: top;
}

zs4-result{
  color:green;
  display:inline;
}
zs4-result.zs4-hide{
  display:none;
}

zs4-object-head.zs4-object{
  width:100%;
  display:block;
}
zs4-object-head.zs4-value{
  display:inline-block;
}
zs4-object-head.zs4-tbon{
  background-color: white;
}
zs4-object-head.zs4-top{
  color:white;
  background-color: blue;
  font-weight: bold;
  display:block;
}
zs4-object-head.zs4-root{
  background-color: darkred;
}

zs4-object-content{
  width:100%;
  height:100%;
  background: linear-gradient(to right, lightblue, white );
  background-size: 0.8em 100%;
  background-repeat: no-repeat;
  padding:0.5em;
  display:block;
  overflow: auto;
}
zs4-object-content.zs4-off{
  display:none;
}
zs4-object-content.zs4-top.zs4-tbon{
  display:none;
}

zs4-toolbar{
  width:100%;
  height:100%;
  background-color: lightblue;
  padding:0.5em;
  display:block;
}
zs4-toolbar-tool{
  color:black;
  background-color: white;
}
zs4-tool-pane.zs4-current{
  display:block;
  overflow:auto;
  width:100%;
}

zs4-toolbar-toogle,
zs4-toolbar-toogle.zs4-current.icon-tool,
zs4-tool-tab.zs4-current{
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  background-color:lightblue;
}


zs4-tool-tab{
  padding-left:0.1em;
  padding-right:0.1em;
  cursor:pointer;
  color:black;
}
zs4-tool-tab.zs4-top{
  color:white;
}

zs4-about-item{
  display:block;
}
zs4-about-label{
  display:inline;

}
zs4-about-value{
  display:inline;
  font-style: italic;
}

zs4-auth-table{
  display:block;
}
zs4-auth-item{
  display:block;
}

zs4-select-remove{
  display:inline-block;
  width:0.8em;
  height:0.8em;
  cursor:pointer;
  background-image: url('/minus.png');
  background-size:100% 100%;
  border:initial;
}

zs4-select-ui{
  display:block;
  background-color: lightgray;
}

zs4-user-name{
  padding-right: 0.5em;
}

zs4-email-token-send{
  font-size: 0.5em;
  font-weight:bold;
  cursor: pointer;
}

zs4-email-token-response{
  display:block;
  font-size: 1em;
  background-color: lightblue;
  border-radius: 0.3em;
}

zs4-spw-title,
zs4-setpassword,
zs4-spw-pwe,
zs4-spw-send{
  display:block;
}

zs4-spw-pwe.zs4-error{
  color:red;
}

zs4-spw-title{
  background-color: lightgray;
  font-weight: bold;
}
zs4-spw-send,
zs4-logout-now{
  font-weight: bold;
  cursor: pointer;
}

input.zs4-search{
  width:4em;
  height:1em;
  border-style:none;
  margin-left:0em;
  margin-right:0em;
  padding-right: 1em;
  padding-top:0.1em;
  padding-left:0.1em;
  padding-bottom:0.1em;
  background-color: lightblue;
}
.zs4-search:focus{
  background-color: white;
}

zs4-app{
  display:flex;
  width:100%;
  height:100%;
}
zs4-app.zs4-portrait{
  flex-direction: column;
}
zs4-app.zs4-landscape{
  /* flex-direction: row; */
  flex-direction: column;
}

zs4-app-ui.zs4-portrait{
  display:block;
  width:100%;
}
zs4-app-ui.zs4-landscape{
  display:inline-block;
  flex-grow: 10;
  flex-basis:70%;
}
zs4-app-info{
  background-color: lightblue;
}
zs4-app-info.zs4-portrait{
  display:block;
  width:100%;
  align-self: flex-end;
}
zs4-app-info.zs4-landscape{
  display:inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis:8em;
  align-self: flex-end;
}
zs4-app-window,
zs4-app-dialog{
  display:block;
  width:100%;
  height:100%;
}
zs4-dialog-item-toggle{
  display:block;
  background-color: lightgray;
  cursor: pointer;
  font-weight: bold;
}
zs4-dialog-item-content{
  display:block;
  background-color: white;
}

zs4-app-toolbar{
  display:block;
  width:100%;
  overflow:auto;
  background-color: lightgray;
}
zs4-app-content{
  display:block;
  width:100%;
}
zs4-app-content.zs4-portrait{
  width:100%;
}
zs4-app-content.zs4-landscape{
  display:block;
  width:100%;
}

zs4-app-tab{
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  padding-left:0.1em;
  padding-right:0.1em;
}
zs4-app-tab.zs4-current{
  background-color:lightgray;
  color:black;
}

zs4-app-new-item{
  font-weight: bold;
  cursor: pointer;
  color: green;
}
zs4-app-item{
  display:block;
}
zs4-app-item-icon{
  float:left;
}
zs4-app-item-newdoc{
  padding-left: 0.5em;
  cursor: pointer;
  color: red;
}
a.zs4-app-item-link{
}
a.zs4-app-item-link.zs4-am{
  color:blue;
}
a.zs4-app-item-link.zs4-own{
  color:green;
}

input.zs4-scope-title{
  background-color: lightgray;
}
input.zs4-scope-title:focus{
  background-color: white;
}

select.zs4-app-creator-select,
select.zs4-app-sort-select,
select.zs4-app-sort-toggle,
select.zs4-app-type-select{
  background-color: lightgray;
}


zs4-app-username.zs4-am{
  font-weight: bold;
  color:blue;
  cursor: pointer;
}
zs4-login-email,
zs4-login-password{
  display:block;
}
input.zs4-login-email.zs4-error,
input.zs4-login-password.zs4-error{
  border-color: red;
}
zs4-logout-args{
  display:block;
}
zs4-login,zs4-logout{
  display:block;
  cursor:pointer;
  font-weight: bold;
  background-color: lightgray;
}
zs4-login:hover,
zs4-logout:hover,
zs4-spw-title:hover{
  background-color: lightblue;
}

zs4-app-device{
  display:block;
  background-color: lightgray;
  font-weight: bold;
}
zs4-app-device:hover{
  background-color: lightblue;
}
zs4-app-device-info-item{
  display:block;
}
zs4-app-device-info-name:after{
  content:': ';
}
zs4-app-device-info-value{
  font-weight: bold;
}
