@import url("fontello/css/zs4-icons.css");
@import url("fontello/css/animation.css");
:root{
  margin:0;
  border:0;
  padding:0;
  color:black;
  background-color: white;
}

.zs4-container{
  display:block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size:0.5em;
  vertical-align:0.25em;
  cursor:pointer;
  border-radius:1em;
  opacity: 30%;
  width:1em;
  height:1em;
  padding:0.25em;
  -webkit-transition: color 1s, opacity 1s, border-radius 1s; /* For Safari 3.1 to 6.0 */
  transition: color 1s, opacity 1s, border-radius;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  opacity: 100%;
  color:lightgreen;
}

[class^="icon-"].zs4-top:hover, [class*=" icon-"].zs4-top:hover {
  opacity: 100%;
  color:orange;
}

option.zs4-placeholder {
  font-style: italic;
  color:gray;
}
body{
  padding:0;
  margin:0;
  color:black;
  background-color: white;
}
input[type="checkbox"]{
  width:1em;
  height:1em;
}
input{
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-color: darkgray;
  margin-left: 0.5em;
  width:8em;
}
input.zs4-noset{
  border-color:white;
}
textarea{
  height: 4em;
  width:100%;
}

zs4-name{
  font-size: enherit;
  padding-right: 0.5em;
}
zs4-name.zs4-api{
  cursor:pointer;
  font-weight: bold;
}
zs4-name.zs4-top{
  color:white;
}

.zs4-am.notrans:not{
  color:blue;
}
.zs4-own.notrans:not{
  color:green;
}
.zs4-noset,.zs4-notrans{
  color:grey;
}
.zs4-nodisplay{
  display:none;
}


.icon-cancel{color:red;}
.icon-error{background-color: white;}

.icon-none:before{content:" ";font-weight: bolder;background-color: rgba(128,128,128,0.0);}

.icon-equals:before{content:"=";font-weight: bolder;}

.icon-selectall:before{content:"&";font-weight: bolder;}
.icon-selectany:before{content:"|";font-weight: bolder;}
.icon-selectnone:before{content:"!";font-weight: bolder;}
.icon-selectitem:before{content:"$";font-weight: bolder;}

.icon-required:before{content:"*";font-weight: bolder;}
.icon-info:before{content:"i";font-weight: bolder;}

zs4-error{
  color:red;
  display:inline;
}
zs4-error.zs4-hide{
  display:none;
}
zs4-error.zs4-top{
  font-size: 50%;
  vertical-align: top;
}

zs4-result{
  color:green;
  display:inline;
}
zs4-result.zs4-hide{
  display:none;
}

zs4-object-head{
  width:100%;
  display:inline-block;
}
zs4-object-head.zs4-tbon{
  display:block;
  padding-top:0.5em;
  background-color: white;

  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 100;

}
zs4-object-head.zs4-top{
  width:100%;
  color:white;
  background-color: blue;
  font-weight: bold;
  display:block;
  vertical-align: bottom;
  top:0px;
  position:fixed;
  z-index: 50;
}

zs4-object-content{
  width:100%;
  background: linear-gradient(to right, lightblue, white );
  background-size: 0.8em 100%;
  background-repeat: no-repeat;
  padding:0.5em;
  display:block;
}
zs4-object-content.zs4-off{
  display:none;
}

zs4-object-content.zs4-top{
  margin-top:1em;
}
zs4-object-content.zs4-top.zs4-tbon{
  display:none;
}

zs4-toolbar{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom, lightblue, white );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding:0.5em;
  display:block;
}
zs4-toolbar-tool{
  color:black;
  background-color: white;
  display:block;
  width:100%;
  height:100%;
}
zs4-tool-pane.zs4-current{
  display:block;
  width:100%;
}

zs4-toolbar-toogle,
zs4-tool-tab{
  display:inline-block;
}
zs4-toolbar-toogle.zs4-current.icon-tool,
zs4-tool-tab.zs4-current{
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color:rgba(172,172,255,1.0);
}


zs4-tool-tab{
  padding-left:0.25em;
  padding-right:0.25em;
  cursor:pointer;
  color:black;
}
zs4-tool-tab.zs4-top{
  color:white;
}

zs4-about-item{
  display:block;
}
zs4-about-label{
  display:inline;

}
zs4-about-value{
  display:inline;
  font-style: italic;
}

zs4-auth-table{
  display:block;
}
zs4-auth-item{
  display:block;
}

zs4-select-remove{
  display:inline-block;
  width:0.8em;
  height:0.8em;
  cursor:pointer;
  background-image: url('/minus.png');
  background-size:100% 100%;
  border:initial;
}

zs4-select-ui{
  display:block;
  background-color: lightgray;
}
